.posts {
  margin: 60px 0;

  &__title {
    color: $color-heading;
    font-family: 'Museo Cyrl', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.416667px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

  }

  &__item {
    height: 300px;
    width: 335px;
    border: 2px solid #CDCDCD;
    border-radius: 3px;
    margin-bottom: 32px;
  }

  a {
    text-decoration: none;
  }
}