$color-heading: #315AF2;
$color-text-primary: #000;
$color-text-secondary: #979797;
$color-text-nav: #010101;
$color-text-post-special: #010101;

$color-background-button: #315AF2;

$content-width: 1201px;